<h1>Добавить группу</h1>

<form action="/addgroups" method="POST">
  <div class="input-field">
    <input id="name" name="name" type="text" class="validate" required>
    <label for="name">Наименование группы</label>
    <span class="helper-text" data-error="Наименование группы"></span>
  </div>
  <button class="btn btn-primary">Добавить </button>
</form>